[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Bodystyle librería de estilos en CSS
Type=Link
URL=https://bodystyle.000webhostapp.com/#/
Icon=text-html
Name[es_AR]=Documentación
